{% extends 'base.html' %}


{% block content %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;margin:10px 10px 0px 10px;width:100%;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:17px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:17px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-s6z2{text-align:center}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-lqy6{text-align:center;vertical-align:top}
.tg .tg-b7b8{background-color:#f9f9f9;vertical-align:top}
.tg .tg-dzk6{background-color:#f9f9f9;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-p5oz{background-color:#f9f9f9;text-align:center;vertical-align:top}

.linkTable {
    text-decoration:none:
}
</style>
<table class="tg">
  <tr>
    <th class="tg-baqh" colspan="6">Results</th>
  </tr>
  <tr>
    <td class="tg-dzk6">No</td>
    <td class="tg-dzk6">Title</td>
    <td class="tg-dzk6">Category</td>
    <td class="tg-dzk6">Website</td>
    <td class="tg-dzk6">Date Post</td>
    <td class="tg-dzk6">Deadline</td>
  </tr>
{% for job in jobs %}
    <tr>
    <td class="tg-yw4l">{{ job.id }}</td>
        <td class="tg-yw4l"><a class="linkTable" href="{{ url_for('detailsJob')}}">{{ job.title }}</a></td>
    <td class="tg-baqh">{{ job.category }}</td>
    <td class="tg-lqy6">{{ job.hrWebSite }}</td>
    <td class="tg-lqy6"> Today </td>
    <td class="tg-lqy6">{{ job.dateLine }}</td>
  </tr>
{% endfor %}

</table>
{% endblock %}